


header
{
background-image: url(Header\ bild.webp);
padding-bottom: 50px;
text-align: center;
border: 2px solid black;

}
h1
{
background-color: white;

}
main
{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 4fr ;

}
.container1
{
border: 2px solid black;
margin-top: 20px;
margin-bottom: 20px;
}